/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.login {
    width: 100vh;
    height: 100vh;
    z-index: 99999;
    background-color: rgb(245, 238, 238);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin-top: -60px;
  }
  
  .login-btn {
    position: relative;
    left: 100px;
    top: 400px;
  }

