
<div class="body-wrapper">

<div class="card list-card" (click)="clickCard('/list', '買うものリスト')">
    <div class="card-body">
      <h5 class="card-title">買うものリスト</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>

<div class="card list-card" (click)="clickCard('/house-work', '家事分担')">
    <div class="card-body">
      <h5 class="card-title">家事分担</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>

<div class="card list-card"  (click)="clickCard('/money', 'お金関連')">
    <div class="card-body">
      <h5 class="card-title">お金関連</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>

</div>
